@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
/* селектор*/
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.header-top {
  height: 85px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

#logo-header img {
  width: 100%;
}

.header-nav {
  height: 60px;
  width: 100%;
}

.header-nav ul {
  margin: 0;
  padding: 22px 0;
  float: left;
}

.header-nav li {
  float: left;
  margin-right: 90px;
  list-style: none;
}

.header-nav li a {
  font-size: 15px;
  color: #333333;
  text-decoration: none;
}

.header-nav li a:hover {
  color: #a6b03b;
  text-decoration: underline;
}

.header-nav .btn {
  width: 170px;
  border: 1px solid #909090;
  height: 35px;
  background: #fff;
  font-size: 15px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 16px;
  cursor: pointer;
}

.header-nav .btn:hover {
  background: #a6b03b;
  color: #fff;
}

.header-nav .btn-img {
  background: #fff;
  border: none;
  margin-left: 31px;
  width: 36px;
  height: 36px;
}

.header-nav .btn-img img {
  vertical-align: sub;
}

.header-nav .nav-open {
  display: none;
}

.container {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#logo-header {
  width: 174px;
  height: 57px;
  float: left;
  margin-top: 15px;
}

.contacts {
  float: right;
  margin-top: 26px;
}

.contacts div {
  float: left;
  margin-right: 70px;
}

.contacts div:last-child {
  margin-right: 0;
}

.contacts div img {
  margin-right: 8px;
  vertical-align: middle;
}

.main-header {
  position: relative;
}

.header-bg {
  width: 100%;
  position: relative;
  margin-bottom: -3px;
}

.header-bg img {
  width: 100%;
}

.header-small img {
  width: 100%;
}

.header-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

.header-promo {
  position: absolute;
  top: calc(50% - 132px);
  left: 0;
  color: #fff;
  text-align: center;
  width: 100%;
}

.header-promo h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 52px;
}

.header-promo a {
  display: block;
  margin: 0 auto;
  width: 270px;
  height: 50px;
  background: #a6b03b;
  color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 3.5;
}
.header-promo a:hover {
  color: black;
  background: yellow;
  transition: 0.3s ease-in-out;
}

/*
Блок цитат
*/

.main-quote {
  width: 100%;
  height: 120px;
  background: #f6f7eb;
  padding: 40px 0;
}

.main-quote .container {
  width: 90%;
  background: #f6f7eb;
}

.main-quote h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #495f1d;
  margin: 0;
}

.main-quote h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

/*
ABOUT US
*/

.main-about h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495f1d;
  text-align: center;
}
.about-description {
  margin-bottom: 50px;
}

.about-description p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  width: 90%;
  margin: 0 auto;
}

.competence-item {
  width: calc(370px - 106px);
  height: 225px;
  background: #f6f7eb;
  float: left;
  margin-right: 30px;
  margin-bottom: 60px;
  padding: 30px 53px 45px;
}

.about-competence .competence-item:last-child {
  margin-right: 0;
}

.competence-item:hover {
  background: #a6b03b;
}

.item-img {
  width: 60px;
  height: 60px;
  margin: 0 auto 35px;
}

.item-img.technical {
  background: url(../img/about/technical.svg);
}

.item-img.partner {
  width: 65px;
  background: url(../img/about/partner.svg);
}

.item-img.leader {
  width: 65px;
  background: url(../img/about/leader.svg) no-repeat;
}

.competence-item:hover .item-img.technical {
  background: url(../img/about/technical-white.svg);
}

.competence-item:hover .item-img.partner {
  background: url(../img/about/partner-white.svg);
}

.competence-item:hover .item-img.leader {
  background: url(../img/about/leader-white.svg);
}

.competence-item h2 {
  text-transform: lowercase;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #495f1d;
}

.competence-item h2:first-letter {
  text-transform: uppercase;
}

.competence-item p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.competence-item:hover h2 {
  color: #fff;
  text-transform: uppercase;
}

.competence-item:hover p {
  color: #fff;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */

/*
Блок Customers
*/

.bg-lemon {
  width: 100%;
  height: 450px;
  margin: 100px 0;
  background-image: url(..//img/customers/customers-bg.png);
}

.bg-lemon .container {
  display: flex;
  justify-content: space-between;
}

.lemon {
  width: 30%;
  height: 100%;
  position: relative;
}

.lemon:before {
  content: url(/img/customers/lemon.png);
  position: absolute;
  top: 117px;
  right: 118px;
  width: 194px;
  height: 194px;
}

.lemon-number {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 133px;
  color: #a6b03b;
  position: absolute;
  top: 157px;
  left: 132px;
}

.lemon-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 314px;
  left: 88px;
}
/*
Блок News
*/

.news {
  display: flex;
  margin-bottom: 44px;
}

.main-news img {
  width: 100%;
}

.main-news h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495f1d;
  text-align: center;
}

.news-data {
  background: #f6f7eb;
}

.news-data:not(:last-child) {
  margin-right: 40px;
}

.news-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #4f4f4f;
  padding: 10px 20px;
}

.news-date {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #bdbdbd;
  padding: 0 20px;
}

.news-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  padding: 10px 20px;
}

.news span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4f4f4f;
  float: right;
  padding: 0px 20px 15px 0px;
}

.news span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #495f1d;
}

/*
Блок Testimonials
*/

.main-testimonials {
  width: 100%;
  height: 700px;
  background: #f6f7eb;
  margin-bottom: -41px;
  background-image: url(../img/testemonials/map.png);
  background-size: 50%;
}

.main-testimonials .container {
  display: flex;
  align-items: center;
}

.main-testimonials h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495f1d;
  margin: 0 58px;
}

.testmonials {
  display: flex;
  justify-content: flex-end;
}

.testmone {
  max-width: 370px;
  max-height: 100%;
  background: #ffffff;
  margin-right: 32px;
  text-align: center;
  padding: 30px 30px;
}

.testm img {
  max-width: 100%;
}

.testmone img {
  padding-top: 24px;
}

.testmonials p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

.testmonials .title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.testmonials .autor {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

/*
FAQ
*/

.faq {
  margin-top: -50px;
}

.faq__bg {
  width: 100%;
  margin-left: -421px;
}
.faq__container {
  display: flex;
}

.faq__header {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  padding: 81px 0px 56px 0px;
  color: #495f1d;
}

.faq .accordion {
  display: flex;
  height: 750px;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 31px;
}

.faq .accordion .accordion-item {
  background: #fff;
  padding: 19px;
  border-radius: 5px;
  width: 569px;
  margin: 10px;
  background: #f6f7eb;
}

.faq .accordion .accordion-item .accordion-item-content {
  display: none;
  padding: 10px 0 0;
}

.faq .accordion .accordion-item.show .accordion-item-content {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
}

.faq .accordion .accordion-item-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  position: relative;
  cursor: pointer;
}

.faq .accordion .accordion-item-header:before {
  content: url(/img/faq/arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.faq .accordion .accordion-item.show .accordion-item-header:before {
  content: url(/img/faq/next.svg);
}

/*
Блок Subscribe
*/

.main-subscribe {
  width: 100%;
  background: #f6f7eb;
  margin-top: -43px;
  margin-bottom: -15px;
}

.main-subscribe .container {
  background: #f6f7eb;
}

.main-subscribe h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #495f1d;
  text-align: center;
  padding-top: 68px;
}

.main-subscribe p {
  text-align: center;
  padding-bottom: 73px;
}

.privacy {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #909090;
  padding: 41px 0px 48px 0px;
}

.subscribe-form {
  align-items: center;
}

.main-subscribe input {
  width: 238px;
  height: 45px;
  border: 1px solid #e7e7e7;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #bdbdbd;
  margin-right: 19px;
  background-repeat: no-repeat;
  padding-left: 32px;
}

.main-subscribe input:before {
  content: url(/img/faq/next.svg);
}

.main-subscribe button {
  width: 270px;
  height: 45px;
  background: #a6b03b;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
}

.main-subscribe button:hover {
  color: black;
  background: yellow;
  transition: 0.3s ease-in-out;
}

/* OUR TEAM  */
.team p {
  text-align: center;
}

.our-team {
  max-width: 805px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 51px;
}

.team-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 78px;
}

.block-team {
  background: #faf9f5;
}

.block-team h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #495f1d;
}

/*
Блок footer
*/

.footer {
  background: #efeed9;
}
.footer .container {
  background: #efeed9;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 78px;
}
.footer__section-logo {
  max-width: 340px;
}

.footer__section-logo p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.footer__social span {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #495f1d;
  margin-right: 37px;
}

.footer__social img {
  margin-right: 10px;
  vertical-align: bottom;
}

.footer__section-nav h4 {
  padding: 0px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #495f1d;
}

.footer__section-nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 113px;
}

.footer__section-nav ul {
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.footer__section-nav li {
  line-height: 28px;
  list-style: none;
  padding-right: 133px;
}

.footer__section-nav a {
  color: #333333;
  text-decoration: none;
}

.footer__section-nav a:hover {
  width: 1px;
  height: 35px;
  background: #efeed9;
  border: 1px solid #909090;
}

.footer_contacts {
  max-width: 272px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.footer_contacts h4 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #495f1d;
}

.footer_contacts div {
  line-height: 43px;
}

.footer_contacts img {
  padding-right: 10px;
}

.footer-bottom {
  padding: 44px 0px 37px 0px;
}
.copyright {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #919191;
}
